<div class="container">

  <div class="page-layout">

    <div class="left-side">

      <h1>Usuarios GitHub</h1>
      <p class="subtitle">Explora perfiles de usuarios</p>

      <div class="right-side" *ngIf="selected">

      <app-usuario-detail
        [usuarioDetail]="selectedUsuario">
      </app-usuario-detail>

    </div>

      <div class="users-grid">

        <div
          class="user-card"
          *ngFor="let usuario of usuarios"
          (click)="onSelected(usuario)">

          <img
            [src]="usuario.avatarUrl"
            [alt]="usuario.name"
            class="avatar"
          />

          <h3>{{ usuario.name }}</h3>

          <p>@{{ usuario.username }}</p>

        </div>

      </div>

    </div>



  </div>

</div>